body { 
    color: blackground; 
    
    

}
html, body{
    margin: 0;
    padding: 0;
}
header {
    /* header information */
    background-color: rgb(88, 19, 19);
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 30px 15px 15px;
    align-items: stretch;
   justify-content: center;
}

h2 {
    color: rgb(88, 19, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(213, 187, 207);
    text-align: center;
}
h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro{
    max-width: 500px;
    text-align: left;
}
/* unvisited link */
a:link {
  color: rgb(100, 155, 100);
}

/* visited link */
a:visited {
  color: rgb(100, 155, 100);
}

/* mouse over link */
a:hover {
  color: rgb(88, 19, 19);
}

/* selected link */
a:active {
  color: rgb(88, 19, 19)e;
}
footer {
    background-color: rgb(88, 19, 19);
    color:white;
    padding: 20px;
    
}
.centered {
    text-align: center;
    font-size: larger;
}
div.inline {
    float: left;
    width: 30%;
    margin: 10px;
}
logo {
    display: flex;
    justify-content: space-around;
  
}
.clearBoth {
    clear:both;
}
.imageRound {
    border-radius: 15px;
}
p{
    font-family:Arial, Helvetica, sans-serif
}