body { 
    color: blackground; 
    
    

}
html, body{
    margin: 0;
    padding: 0;
}

.cobyChloe {
  align-items: center;
  width: 100%;
}

.imageRound {
  display: flex;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.counter{
   text-align: center;
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
 text-shadow: 1px 1px 2px #9a9999
 
}
#demo {
    text-align: center;

}
.intro{
    max-width: 500px;
    text-align: left;
}

.dropdown {
  position: relative;
  }

/* Style the dropdown button */
.dropbtn {
  background-color: rgb(88, 19, 19);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.buttonimage {
  width: 35px;
  height: 20px;
}
/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: rgb(88, 19, 19);
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  background-color: #f7e1e1;
  padding: 10px;
  margin: 10px
  font-size: 30px;
  text-align: center;
  width: 100%;
}

/* Make a one column-layout instead of three-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

a:link{
  color: #000000;
}
a:visited{
  color: #000000;
}  
a:hover{
  color: #000000;
  cursor: url("heart2.svg") 16 13, auto;
}
}
a:active{
  color: #000000;
}

.flexShadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.noUndrln {
  text-decoration: none;
}
.hover a:hover{
  background-color: #010101;
}
.paraLeft{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: rgb(88, 19, 19);
    color:white;
    padding: 20px;
    
}
.centered {
    text-align: center;
    font-size: larger;
}
div.inline {
    float: left;
    width: 30%;
    margin: 10px;
}
logo {
    display: flex;
    justify-content: space-around;
  
}
.clearBoth {
    clear:both;
}



p{
    font-family:Arial, Helvetica, sans-serif
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(88, 19, 19);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(88, 19, 19);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(44, 19, 19);
  color: white;
}
